body {
  margin: 0;
  overflow: hidden;
  background-color: black;
}

.label {
  position: absolute;
  color: rgb(0, 0, 0);
  font-family: Arial, sans-serif;
  font-size: 12px;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
